@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Pokedex.Core.Application.ViewModel.saveRegionViewModel

@{

    ViewData["Title"] = "Eliminar Pokemon";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h4>Está seguro que desea eliminar del registro el tipo @Model.Name?</h4>
                <div class="card-body">
                    <form method="post" asp-controller="Region" asp-action="DeletePost">
                        <input type="hidden" asp-for="Id" />
                        <button type="submit" class="btn btn-warning">Eliminar</button>
                        <a asp-controller="Region" asp-action="Index" class="btn btn-primary">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>